.header {
  color: #f2a68b;
  margin-left: 10%;
  display: inline-block;
}

.sidebar {
  float: right;
  margin-right: 10%;
  color: white;
}

.navigation {
  display: inline-block;
  padding:8px;
  color: beige;
}

.content-wrapper {
  width: 100%;
}

.body-color{
  background-color: grey;
}
.content-wrapper img{
  width: 100%;
}
.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -65%;
  margin-left: 10%;
}
.text-wrapper-login {
  width: 100%;
  position: relative;
  margin-top: -45%;
  margin-right: 10%;
}
.page-container {
  display:flex;
  flex-direction: column;
  min-height: 130vh;
}
.footer-wrap {
  flex:1;
}

.headcolor {
  background-color: #152116;
}







